.search-bar{
    margin-top: 1.5rem ;
    display: flex;
    justify-content: center;
    padding-left: 25px;
}
.search-input{
    width: 70vw;
    height: 30px;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    border: 2px solid #666666;    
  
}
.search-input:focus{
    transform: translateY(-2.5px);
    height: 32px;
    width: 80vw;
}
.search-bar i{
    color: #666666;
    
}
