.scan-btn{
   position: fixed;
   bottom:0;
   right: 0;
   z-index: 999;
   margin-bottom: 1rem;
   margin-right: 0.8rem;
  
}
.scan-btn a{
    border-radius: 48%;
    padding: 18px;
}

.add-btn,
.add-btn::after{
    display: block;
    width: 24px;
    height: 5px;
    position: relative;
    background: #fff;
    border-radius: 5px;
}
.add-btn::after{
       content: "";
       position: absolute;
    }
.add-btn::after{
    transform:  rotate(90deg);
    
}
