@import url("https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap");

#Body {
    font-family: "work sans";
    width: 100%;
    height: 100%;
    position: fixed;
}

#container {
    font-size: 100%;
}

#loginform {
    margin: 60px auto;
    background-color: #ffffff;
    border-radius: 25px;
}

#headerTitle {
    text-align: center;
    font-family: "open sans", sans-serif;
    padding: 2rem 0;
    margin: 0;
    font-size: 2rem;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 0 2rem;
}

.row input {
    width: 80%;
    box-sizing: border-box;
    border: none;
    font-size: 1.3rem;
    justify-content: center;
    padding-top: 0.3rem;
    padding-bottom: 0.5rem;
    margin-bottom: 10px;
    box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
    transition: box-shadow 0.2s ease-in;
}

.row input:focus {
    outline: none;
}

.row label {
    align-self: start;
    padding-left: 3rem;
    margin-top: 8px;
    margin-bottom: 0;
    color: #343F56;
}

.row button {
    border-radius: 25px;
    width: 80%;
    height: 40px;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    background-color: #FB9300;
    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
}

.row button:hover {
    opacity: 0.8;
}

#button {
    padding-bottom: 1.5rem;
}
