.bottom-area{
    display: flex;
    justify-content: space-around;
    margin-top:20px;
    align-items: center;
}
.card{
    width: 220px;
    height: 180px;
    margin: 0.5rem 0.3rem;
    border-radius: 15px;
}
.card-body{
   padding: 16px
}
a {
    margin : 0 0.5rem;
}
h5.card-link{
    margin: 0;
    padding: 0.6rem 1.2rem;
}
h3.card-title{
    padding: 0.8rem;
    margin-top:7px;
    margin-bottom: 0;
    font-family: 'Mukta', sans-serif;
}

@media screen and (max-width: 473px){
    .card{
        padding-right: 2rem;
        width: 100vw;
    }
}