@import url("https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap");
/*body.chakra-ui-light {
    background: linear-gradient(
        135deg,
        rgba(34, 193, 195, 1) 0%,
        rgba(253, 187, 45, 1) 100%
    );
} */

#container {
    font-size: 100%;
    font-family: "work sans";
    z-index: 998;
}


#loginform {
    margin: 70px auto;
    width: 300px;
    border-radius: 25px;
    justify-content: center;
    background-color: #e6e6e6;
}

#headerTitle {
    text-align: center;
    font-family: "open sans", sans-serif;
    padding: 1rem 0;
    margin: 0;
    font-size: 2rem;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    margin: 0;
    max-width: 100%;
}

.row input {
    width: 80%;
    box-sizing: border-box;
    border: none;
    font-size: 14px;
    padding-left: 2.5rem;
    box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
    transition: box-shadow 0.2s ease-in;
}

.row input:focus {
    outline: none;
}

.row input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.row label {
    align-self: start;
    padding-left: 3rem;
    color: #343F56;
}

.row button {
    border-radius: 25px;
    width: 80%;
    height: 40px;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    background-color:#FB9300;
    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
    margin-top: 1rem;
}

.row button:hover {
    opacity: 0.8;
}

#button {
    padding-bottom: 1.5rem;
}