div.NavbarContainer {
    height: 60px;
    box-shadow: 0 2px 3px rgba(15, 15, 15, 0.13);
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    top: 0;
    padding: 0 1rem;
    background-color: #f2f2f2;
    position: fixed;
    z-index: 1;
}
div.LeftSection {
    display: flex;
}
div.MiddleSection {
    display: flex;
}
div.RightSection {
    display: flex;
}
/* NavLinks.js*/
div.NavLinksContainer {
    height: 100%;
    display: flex;
    align-items: center;
}

ul.LinksWrapper {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    list-style: none;
}

li.LinkItem {
    height: 100%;
    padding: 0 1.1em;
    color: #222;
    font-weight: 500;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-top: 2px solid transparent;
    transition: all 220ms ease-in-out;

    /* .LinkItem:hover {
        border-top: 2px solid #2ecc71;
    } */
}
li.LinkItem:hover {
    border-top: 2px solid #2ecc71;
}

a.Link {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: system-ui;
    margin-bottom: 3px;
}
/* MobileNavLinks.js*/
div.MobileNavLinksContainer {
    height: 96%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

ul.MobileLinksWrapper {
    margin: 0;
    padding: 0 ;
    padding-top: 6rem;
    display: flex;
    height: 100%;
    list-style: none;
    width: 70%;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FB9300; /*#8c8c8c; */
}

li.MobileLinkItem {
    width: 100%;
    padding: 0.5rem 15%;
    color: #343F56;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    margin-bottom: 10px;
}

a.MobileLink {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: system-ui;
    margin-left: 1rem;
    border-bottom: 3px solid #343F56;
}

div.Marginer {
    height: 4em;
}
/* MenuToggle.js*/
div.Button {
    z-index: 99;
    cursor: pointer;
    margin-right: 10px;
}
/* SignIn.js*/
div.SignInContainer {
    display: flex;
    justify-content: center;
}
button.RegisterButton {
    border: 0;
    outline: 0;
    padding: 8px 1em;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border-radius: 20px;
    background-color: #FB9300;
    transition: all 240ms ease-in-out;
    cursor: pointer;
    margin-right: 10px;

    /* &:hover {
        background-color: #00c9ff;
    } */
}
button.RegisterButton:hover {
    background-color: #FB9300;
}

button.LoginButton {
    border: 0;
    outline: 0;
    padding: 8px 1em;
    color: #222;
    font-size: 13px;
    font-weight: 600;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid #FB9300;
    transition: all 240ms ease-in-out;
    cursor: pointer;
    margin-right: 10px;
    /* &:hover {
        color: #fff;
        background-color: #00c9ff;
    }
    &:not(:last-of-type) {
        margin-right: 7px;
    } */
}
button.LoginButton:hover {
    color: #fff;
    background-color: #FB9300;
}
button.LoginButton :not(:last-of-type) {
    margin-right: 7px;
}

@media only screen and (max-width: 768px) {
    div.NavbarContainer {
        padding: 0 1rem 0 0;
    }
    .SignInContainer {
        display: flex;
        justify-content: center;
        padding: 0.5rem 30%;
        flex-direction: column;
    }
    button.RegisterButton{
        padding: 0.5rem 2rem;
        color: #343F56;
    }
    button.LoginButton{
        margin: 10px 0 5px 6px;
        padding: 0.5rem 2rem;
        color: #fff;
    }

}
