.home-container{
    overflow: scroll; 
    top: 50px;
    z-index: 1;
}
.shops {
    padding-left: 100px;
    font-family: cursive;
    font-size: 3vw;
    position: relative;
}
@media screen and (max-width: 800px) {
    .shops {
        font-size: 5vw;
        padding-bottom: 20px;
        padding-left: 40px;
    }
}


/*ABOUT US SECTION */
@media screen and (max-width: 600px) {
    .about-us {
        padding-top: 60px;
    }
}

.about-section {
    background: url("aboutUS.jpg") no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 250px 0;
}

.inner-container {
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text {
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width: 1200px) {
    .inner-container {
        padding: 80px;
    }
}

@media screen and (max-width: 1000px) {
    .about-section {
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .about-section {
        padding: 0;
    }
    .inner-container {
        padding: 60px;
        padding-top: 60px;
    }
}

/*CONTACT US SECTION*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.contact-us {
    width: 100%;
}

.contact-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 50px 100px;
}

.contact-container:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("contactUs.jpg") no-repeat center;
    background-size: cover;
    filter: blur(150px);
    z-index: -1;
}
.contact-box {
    width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 400px) {
    .contact-box {
        width: 1000px;
    }
}

.left {
    background: url("contactUs.jpg") no-repeat center;
    background-size: cover;
    height: 100%;
}

.right {
    padding: 25px 40px;
}

h2.page-titles {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
}

h2.page-titles:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #FB9300;
}

.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 150px;
}

.send-btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #FB9300;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.send-btn:hover {
    background-color: #FB9300;
}

.field:focus {
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px) {
    .contact-box {
        grid-template-columns: 1fr;
    }
    .left {
        height: 200px;
    }
}
@media screen and (max-width: 400px) {
    .contact-box {
        grid-template-columns: 1fr;
        width: 850px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .left {
        height: 100px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .field {
        width: 150px;
    }
}
.footer {
    background-color: #ebebeb;
}
.How-it-works {
    background-color: #e6e6e6;
}
