.bottom-area{
    display: flex;
    justify-content: flex-end;
}
a {
    margin : 0 0.5rem;
}
a.card-link{
    padding: 6px 12px;
}
.cards{
    padding: 2rem 1rem 1rem;
}
.card{
    margin-bottom: 0.5rem;
}